<div
  [ngClass]="
    menuService.showMobileMenu
      ? 'translate-x-0  pointer-events-auto duration-300 ease-out'
      : '-translate-x-full pointer-events-none duration-200 ease-in'
  "
  class="fixed inset-y-0 left-0 z-50 w-[80%] max-w-sm transform transition-all bg-background shadow-lg md:hidden overflow-y-auto">
  <div class="pt-5 pb-6 h-full flex flex-col">
    <div class="flex items-center justify-between px-5">
      <!-- Logo -->
      <div class="flex items-center gap-3">
        <a class="bg-primary flex items-center justify-center rounded-sm p-2 focus:outline-hidden focus:ring-1">
          <svg-icon src="assets/icons/logo.svg"></svg-icon>
        </a>
        <div class="text-foreground text-sm font-bold">Angular Tailwind</div>
      </div>
      <!-- Nút đóng -->
      <div>
        <button
          (click)="toggleMobileMenu()"
          type="button"
          class="text-muted-foreground hover:bg-card hover:text-foreground inline-flex items-center justify-center rounded-md p-2 focus:outline-hidden focus:ring-2 focus:ring-inset focus:ring-primary">
          <span class="sr-only">Close menu</span>
          <svg-icon src="assets/icons/heroicons/outline/x.svg"></svg-icon>
        </button>
      </div>
    </div>

    <!-- Menu content -->
    <div class="scrollbar-thin scrollbar-thumb-muted max-h-full overflow-y-auto px-5 mt-6">
      <app-navbar-mobile-menu></app-navbar-mobile-menu>
    </div>
  </div>
</div>
