<form [formGroup]="form" (ngSubmit)="save()" autocomplete="off" class="p-4 space-y-6 h-full flex flex-col">
  <div class="flex justify-end">
    <mat-icon class="cursor-pointer text-gray-500 hover:text-black" (click)="close()">close</mat-icon>
  </div>
  <h2 class="text-center text-primary font-bold">Create</h2>

  <mat-dialog-content>
    <app-text-input [formControl]="$any(form.controls['categoryTitle'])" [label]="'Name'" />
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </mat-dialog-actions>
</form>
